html body{
    height:100%;
    width:100%;
}

#chat_container{
    display: none;
    height: 75%;
    max-height: inherit;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}
@media screen and (max-width: 600px) {
    #chat_container{
        height: 100vh;!important;
    }
    #online_users_ctx{
        width: 100%;!important;
    }

    #messaging_area_ctx{
        width: 100%;!important;
    }
}
#online_users_ctx{
    flex: 30%;
}

#messaging_area_ctx{
    flex: 70%;
}

#chat-window{
    height: 500px;
    max-height: 500px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
